html, body, .login {
    height: 100%;
}

.nav-wrapper ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.home > a{
    width: 100%;
    margin: 1rem 0px;
    font-size: 2rem;
    text-transform: lowercase;
}

.einkaufsliste{
    margin-top: 2rem;
}

.collection{
    border: 0px;
}

.collection .collection-item:last-child{
    border-bottom: 1px solid #e0e0e0
}

.einkaufsliste .collection ul{
    margin: 0px auto;
}